<div class="time-section">
 <div class="first-section">
   <div class="time">
    <p>{{date | date: 'dd MMMM, yyyy'}}</p>
    <h3>{{date | date: 'HH:mm'}}</h3>
   </div>
   <div class="temperature">
    <div class="location">
      <mat-icon svgIcon="location"></mat-icon>
      <p>Chisinau</p>
    </div>
    <div class="grades">
      <mat-icon svgIcon="sun-cloud"></mat-icon>
      <h3>28° C</h3>
    </div>
    <p>Outdoor Temperature</p>
   </div>
 </div>
 <div class="second-section">
    <div class="devices" *ngFor="let device of devices">
       <div class="heading">
         <div class="description">
          <p>{{ device.name }}</p>
          <p>{{ device.description }}</p>
         </div>
         <mat-icon svgIcon="{{ device.icon }}"></mat-icon>
       </div>
       <app-toggle-switch (switch)="switchOnOff($event)"></app-toggle-switch>
    </div>
 </div>
</div>