.time-section{
    display:  flex;
    flex-direction: column;
    gap: 10px;

    .first-section{
        display: flex;
        gap: 10px;

        .time{
            width: 251px;
            height: 138px;
            padding: 20px;
            border: 1px solid var(--grey-dark);
            border-radius: 15px;


            p{
              font-size: 1rem;
              font-family: var(--pro-jakarta-font-family);
              color: var(--light);
            }

            h3{
                font-size: 3.5rem;
                font-family: var(--pro-jakarta-font-family);
                color: var(--light);
            }
        }

        .temperature{
            padding: 20px;
            border: 1px solid var(--grey-dark);
            border-radius: 15px;
            text-align: end;

            .location{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;

                mat-icon{
                   width: 10px;
                }
             
                p{
                    font-size: 0.75rem;
                    color: var(--light);
                    font-family: var(--pro-jakarta-font-family);
                }
            }
          

          .grades{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            mat-icon{
                height: 60px;
                width: 60px;
            }

            h3{
                font-size: 2.6rem;
                color: var(--light);
                font-family: var(--pro-jakarta-font-family);
            }
          }

          p{
            font-size: 0.75rem;
            color: var(--grey-light);
            font-family: var(--pro-jakarta-font-family);
          }
        }
    }

    .second-section{
        display: flex;
        gap: 10px;

        .devices{
            border: 1px solid var(--grey-dark);
            border-radius: 10px;
            padding: 15px;

            .heading{
                display: flex;
                gap: 30px;

                .description{
                    display: grid;
                    row-gap: 5px;
                    
                    p{
                      color: var(--light);
                      font-size: 1rem;
                      font-family: var(--poppins-font-family);
                      font-weight: 600;
                    }

                    p+p{
                        font-size: 0.75rem;
                        font-weight: 200;
                    }
                }

                mat-icon{
                   height: 35px;
                   width: 35px;
                }
            }

        }
    }
}