.main-dashboard{
    background-color: #474441;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
   
    .top-sections{
        display: flex;
        gap: 10px;
    }

    .bottom-sections{
        display: flex;
        gap: 10px;
    }
}