:root{
    --primary-background: #171717;
    --secondary-background: #252525;
    --soft-secondary-background: #454545;

    --switch-background: #837e79;

    --dark: #2F2F2F;
    --radial: #BEF264;
    --light: #FFFFFF;
    --grey-light: #9EA0A1;
    --grey-dark: #7d7e7e;

    --sf-pro-font-family: 'SfPro';
    --pro-jakarta-font-family: 'PlusJakarta';
    --poppins-font-family: 'Poppins';
}