.air-conditioner{
    .heading{
        display: flex;
        justify-content: space-between;

        .name{

        }
    }

    .air-control{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .volume-range{
            width: 150px;
            //height: 50px;
            -webkit-appearance: none;
            height: 150px;
           // border-radius: 5px;
            background: #ccc;
            outline: none;
            writing-mode: bt-lr; /* IE */
            -webkit-appearance: slider-vertical; /* WebKit */
            border-radius: 50%;
            
        }
    }

    

    .fan-control{

    }
}