.left-side-navbar{    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #474441;
    opacity: 0.9;
    width: 50px;
    border-radius: 30px;
    padding: 20px 30px;
    gap: 15px;
    margin-top: 80px;

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        border-radius: 50%;

        mat-icon{
            height: 15px;
        }

        .grid, .shield{
            height: 20px;
        }

        &:hover{
            cursor: pointer;
            opacity: 0.9;
        }

        &:focus{
            background-color:#6f6b65;
            border: none;
            outline: none;
        }
    }
}