<div class="left-side-navbar">
  <button autofocus>
    <img src="assets/svg/house.svg" alt="house">
  </button>
  <button>
    <img class="grid" src="assets/svg/grid.svg" alt="house">
  </button>
  <button>
    <img class="shield" src="assets/svg/shield.svg" alt="house" >
  </button>
  <button>
    <img src="assets/svg/video.svg" alt="house">
  </button>
  <button>
    <img src="assets/svg/lightning.svg" alt="house">
  </button>
  <button>
    <img src="assets/svg/gear.svg" alt="house">
  </button>
 </div>