<div class="component">
  <div class="actions">
   <div class="assistant">
    <mat-icon svgIcon="siri"></mat-icon>
     <input type="text" value="" placeholder="Remote...">
     <button>
      <mat-icon svgIcon="microphone"></mat-icon>
     </button>
   </div>
   <div class="notifications">
     <button>
      <mat-icon svgIcon="notification"></mat-icon>
     </button>
   </div>

   <div class="profile">
    <button [matMenuTriggerFor]="menu" class="profile-button">
      <img src="assets/images/profile.jpg" alt="profile">
       
      <div class="name">
        <p>Hi, Wade Waren</p>
        <p>&#64;wedwarren</p>
      </div>
      <p>v</p>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Settings</button>
      </mat-menu>
    </button>
   </div>
  </div>
  <div class="music-player">
   <div class="circle">
     <div class="inner-circle">
     </div>
   </div>

   <div class="player">
     <div class="title">
       <p>Album <span>img here  Divide</span></p>
       <p>Ed Sheran - Shape Of You</p>
     </div>

     <div class="progress-container">
        <div class="progress-bar">
           
        </div>
     </div>
     <div class="buttons">
       <button>
        <mat-icon svgIcon="shuffle"></mat-icon>
       </button>
       <button>
        <mat-icon svgIcon="backward-step"></mat-icon>
       </button>
       <button class="play">
        <mat-icon svgIcon="play"></mat-icon>
       </button>
       <button>
        <mat-icon svgIcon="forward-step"></mat-icon>
       </button>
       <button>
        <mat-icon svgIcon="arrows-rotate"></mat-icon>
       </button>
     </div>
   </div>

   <div class="volume">
    <input class="volume-range" orient="vertical" type="range" step="0.5" value="5" min="1" max="10">
    <button class="volume-off">
      <mat-icon svgIcon="volume-high"></mat-icon>
    </button>
   </div>
  </div>
</div>